          <!-- Video Row-->
          <div class="row gx-4 gx-lg-5">
            <!-- Video Content-->
            <div class="card text-white my-5 py-4 text-center">
              <div class="center">
                <video width="320" height="240" controls style="align-content:center">
                  <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4"/>
                  Your browser does not support video tag for playing video on this page.
                </video>
              </div>
            </div>
          </div>
          <!-- Youtube Row-->
          <div class="row gx-4 gx-lg-5">
            <!-- Video Content-->
            <div class="card-body" id="youtube">
              <p class="text-white m-0" style="font-size:x-large; text-align:center">
                <a href="https://www.youtube.com/user/Simplilearn"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/youtube.png"/></a>
              </p>
              <br/><h4>Check out my Youtube channel</h4>
            </div>
          </div>

